body {
    font-family: sans-serif;
}

header {
    background-color: #163d8ac2;
    color: white;
    border: solid 1px rgb(250, 11, 11);
    border-radius: 20px;
    margin: 10px;
}
header a {
    text-decoration: none;
    border: solid 1px #10d610b1;
    padding: 3px;
    margin: 2px;
    background-color: #10d610b1;
    border-radius: 20px;
}
header p {
    text-align: center;
}
header img {
    height: 50px;
    width: 100px;
}
a {
    text-decoration: none;
    border: solid 1px tomato;
    border-radius: 10px;
    background-color:darkblue;
    color: white;
    padding: 3px;
    margin: 3px;
}
h1 {
    text-align: center;
    color: #0c33c2c2;
    border: solid 1px blue;
    border-radius:10px;
    padding: 3px;
    background-color: #fab70fc2;
}
footer {
    border: solid 2px blue;
    border-radius: 10px;
    padding: 3px;
}
footer p {
    background-color: #f70787c2;
    color: white;
    border: solid 3px blue;
    border-radius: 10px;
    padding: 3px;
}
